@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');
@import "tailwindcss";

@tailwind utilities;

html{
  margin: 0;
  padding: 0;
  background-color: black;
  color: aliceblue;
}

.header{
  font-family: "Luckiest Guy";
  margin-right: 50%;
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.jump {
  display: inline-block;
  animation: jump 0.6s ease-in-out infinite;
}

.title{
  font-family: "Tektur";
}

.card-heading {
 font-family: "Stalinist One";
}

.card-title{
  font-family: "Nabla";
  @apply text-3xl;
}

.number {
  font-family: "Silkscreen";
}

.header span{
  position: relative;
  display: inline-block;
  text-shadow: 0 1px 0 #dfa814, 0 2px 0 #dfa814, 0 3px 0 #dfa814,0 4px 0 #dfa814,0 5px 0 #dfa814,0 6px 0 transparent,0 7px 0 transparent,0 8px 0 transparent,0 9px 0 transparent  ;
}

.card {
  border-radius: 0.5rem;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* 3D tilt on hover */
.card:hover {
  transform: rotateY(-15deg) rotateX(-7deg);
}

.todo-list{
  font-family: "Turret Road";
}

.nav{
  font-family: "Luckiest Guy";
  @apply text-3xl mr-10 hover:text-fuchsia-500;
  @apply active:shadow-xl shadow-fuchsia-500;
}

.active-nav{
  @apply shadow-lg shadow-fuchsia-400 text-fuchsia-400 ;
}

.task-title{
  font-family: "Stalinist One";
}