@import url("https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@tailwind utilities;

html {
  margin: 0;
  padding: 0;
  font-family: "Nunito";
  background-color: rgb(0, 0, 0);
  color: #F2F2F2;
}

.header {
  font-family: "Audiowide";
  margin-right: 55%;
}

.neon-cyan {
  color: #00FFFF;
  text-shadow: 0 0 5px #00FFFF, 0 0 10px #00FFFF, 0 0 30px #00FFFF;
}

.nav:hover{
  color: #FF00FF;
  text-shadow: 0 0 20px #FF00FF, 0 0 10px #FF00FF, 0 0 1px #FF00FF;
}

.nav {
  font-family: "Inter";
  @apply text-3xl text-[#33f19e] font-bold;
  color: #39FF14;
  text-shadow: 0 0 20px #39FF14, 0 0 10px #39FF14, 0 0 1px #39FF14;
}

.phone-div{
 @apply hidden;
}

.active-nav {
  @apply text-[#FF00FF];
  color: #FFFF33;
  text-shadow: 0 0 20px #FFFF33, 0 0 10px #FFFF33, 0 0 1px #FFFF33;
}

.title {
  font-family: "Exo 2";
}

.card-heading {
  font-family: "Stalinist One";
}

.card-title {
  font-family: "Nabla";
  @apply text-3xl;
}

.number {
  font-family: "Silkscreen";
}

.card {
  border-radius: 0.5rem;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* 3D tilt on hover */
.card:hover {
  transform: rotateY(-15deg) rotateX(-7deg);
}

.todo-list {
  font-family: "Turret Road";
}

.task-title {
  font-family: "Stalinist One";
}

.mermaid svg path {
  stroke: #ffffff !important;
}

.link-style {
  @apply text-3xl font-bold p-2;
  @apply active:translate-y-1;
}

.roadmap-nav{
  @apply text-shadow-lg text-shadow-neutral-500 border rounded-md p-2;
}

.active-roadmap-nav{
  @apply border border-b-red-500 rounded-md p-2 text-shadow-lg text-shadow-red-500 font-black;
}

.roadmap-heading{
  @apply text-4xl font-bold pb-10 text-sky-300 text-shadow-md text-shadow-white;
}

.dinesh{
  @apply shadow-2xl shadow-fuchsia-400;
}

.roshan{
  @apply shadow-2xl shadow-white;
}

.link-title{
 @apply text-3xl font-extrabold pb-2 text-red-500;
}

.links{
 @apply hover:text-white text-xl pb-1 cursor-pointer font-bold
}

.links:link{
  @apply text-white hover:bg-orange-500
}

.links:visited{
  @apply text-blue-500
}

.links:visited:hover{
  @apply text-white
}

@media only screen and (max-width:600px){
  .header-list{
    @apply px-2 mx-1 gap-2;
  }

  .header{
    @apply text-2xl ml-2 mx-7;
  }

  .nav{
    @apply text-[1rem]
  }

  .form-legend{
    @apply text-3xl text-center;
  }

  .form-div label{
    @apply hidden;
  }

  .form-inner-div{
    @apply w-auto gap-1;
  }

  .form-inner-div button{
    @apply mt-4
  }

  .todo-div{
    @apply flex flex-col ml-2;
  }

  .todo-card{
    @apply w-full h-full;
  }

  .todo-header{
    @apply text-2xl;
  }

  .todo-task-div{
    @apply gap-0 px-0;
  }

  .task-text{
    @apply w-[14rem]
  }

  .todo-list{
    @apply text-2xl mt-10;
  }

  .todo-icon{
    @apply text-3xl;
  }

  .tracker{
    @apply ml-0 my-20;
  }

  .tracker-main-div{
    @apply flex flex-col mx-2;
  }

  .card{
    @apply skew-0 w-[22rem] mb-10
  }

  .tracker-info{
    @apply text-xl
  }

  .card-heading{
    @apply text-3xl
  }

  .card-title{
    @apply text-xl;
  }

  .roadmap-div{
    @apply flex flex-col gap-0;
  }

  .roadmap-heading{
    @apply pb-5;
  }

  .mermaid svg{
    @apply w-full h-full
  }

  .link-title{
    @apply text-2xl pt-5
  }

  .links{
    @apply text-xl;
  }

  .roadmap-div{
    @apply overflow-x-auto pl-2
  }

  .roadmap-nav{
    @apply text-2xl pr-4
  }

  .roadmap-ul{
    @apply gap-1
  }

  .active-roadmap-nav{
    @apply text-2xl
  }
}

@media only screen and (min-width: 780px) and (max-width:959px){
  .header-list{
    @apply mx-5 my-5 gap-5 justify-normal;
  }

  .header{
    @apply text-4xl mr-[30%] ml-2
  }

  .nav{
    @apply text-[1.7rem]
  }

  .form-div{
    @apply justify-center-safe mt-[30%] mb-[30%];
  }

  .todo-div{
    @apply flex-col mx-10 overflow-y-auto;
  }

  .todo-card{
    @apply h-full mb-5 overflow-y-auto;
  }

  .tracker{
    @apply ml-0 my-20;
  }

  .tracker-main-div{
    @apply flex flex-col ml-[21%];
  }

  .card{
    @apply skew-0 w-[30rem] mb-16
  }

  .card-title{
    @apply text-xl;
  }

  .mermaid svg{
    @apply h-full
  }

  .roadmap-div{
    @apply pl-2 flex flex-col gap-5
  }

  .link-title{
    @apply pt-0
  }

  .roadmap-div{
    @apply overflow-x-auto
  }
}
